/* Custom CSS */
body {
    font-family: 'Prompt', sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.hero-section {
    padding-top: 5px; /* Mengurangi padding atas pada hero section */
    padding-bottom: 10px; /* Mengurangi padding bawah pada hero section */
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.btn-primary {
    background-color: #0c9924;
    border-color: #04da00;
}

.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}

footer {
    margin-top: 50px; /* Mengurangi margin atas pada footer */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prompt', sans-serif;
}
.prompt-thin {
    font-family: "Prompt", serif;
    font-weight: 100;
    font-style: normal;
  }