{% extends "base_dashboard.html" %}

{% block title %}Lihat Hutang{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Hutang</h1>
        <a href="/add_debt" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus fa-sm text-white-50"></i> Tambah Hutang
        </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Daftar Hutang</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="recent-transactions" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Orang</th>
                            <th>Jumlah</th>
                            <th>Jenis</th>
                            <th>Status</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for debt in debts %}
                        <tr>
                            <td style="color: #333;">{{ debt.id }}</td>
                            <td style="color: #333;">{{ debt.person }}</td>
                            <td style="color: #333;">Rp {{ debt.amount }}</td>
                            <td style="color: #333;">{{ debt.type }}</td>
                            <td style="color: #333;">{{ 'Lunas' if debt.is_paid else 'Belum Lunas' }}</td>
                            <td>
                                <a href="{{ url_for('edit_debt', debt_id=debt.id) }}" class="btn btn-sm btn-primary">Edit</a>
                                <form action="{{ url_for('delete_debt', debt_id=debt.id) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-sm btn-danger">Hapus</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
